In [1]:
import pandas as pd

In [36]:
df=pd.read_csv(r'C:\Users\Admin\Downloads\ML Project - Logistic Regression Titanic Survival U16955478860.txt')

In [37]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [38]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [39]:
df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [40]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [41]:
df.drop(["PassengerId","Name","Ticket"],axis=1,inplace=True)

In [42]:
df.isnull().sum()

Survived      0
Pclass        0
Sex           0
Age         177
SibSp         0
Parch         0
Fare          0
Cabin       687
Embarked      2
dtype: int64

In [43]:
df.drop("Cabin",axis=1,inplace=True)

In [44]:
df

     Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0           0       3    male  22.0      1      0   7.2500        S
1           1       1  female  38.0      1      0  71.2833        C
2           1       3  female  26.0      0      0   7.9250        S
3           1       1  female  35.0      1      0  53.1000        S
4           0       3    male  35.0      0      0   8.0500        S
..        ...     ...     ...   ...    ...    ...      ...      ...
886         0       2    male  27.0      0      0  13.0000        S
887         1       1  female  19.0      0      0  30.0000        S
888         0       3  female   NaN      1      2  23.4500        S
889         1       1    male  26.0      0      0  30.0000        C
890         0       3    male  32.0      0      0   7.7500        Q

[891 rows x 8 columns]

In [45]:
df.fillna(df["Age"].median(),inplace=True)

In [46]:
df

     Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0           0       3    male  22.0      1      0   7.2500        S
1           1       1  female  38.0      1      0  71.2833        C
2           1       3  female  26.0      0      0   7.9250        S
3           1       1  female  35.0      1      0  53.1000        S
4           0       3    male  35.0      0      0   8.0500        S
..        ...     ...     ...   ...    ...    ...      ...      ...
886         0       2    male  27.0      0      0  13.0000        S
887         1       1  female  19.0      0      0  30.0000        S
888         0       3  female  28.0      1      2  23.4500        S
889         1       1    male  26.0      0      0  30.0000        C
890         0       3    male  32.0      0      0   7.7500        Q

[891 rows x 8 columns]

In [47]:
df.fillna(df["Embarked"].mode(),inplace=True)

In [48]:
df

     Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0           0       3    male  22.0      1      0   7.2500        S
1           1       1  female  38.0      1      0  71.2833        C
2           1       3  female  26.0      0      0   7.9250        S
3           1       1  female  35.0      1      0  53.1000        S
4           0       3    male  35.0      0      0   8.0500        S
..        ...     ...     ...   ...    ...    ...      ...      ...
886         0       2    male  27.0      0      0  13.0000        S
887         1       1  female  19.0      0      0  30.0000        S
888         0       3  female  28.0      1      2  23.4500        S
889         1       1    male  26.0      0      0  30.0000        C
890         0       3    male  32.0      0      0   7.7500        Q

[891 rows x 8 columns]

In [49]:
df.isnull().sum()

Survived    0
Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
Embarked    0
dtype: int64

In [50]:
df["Sex"]=df["Sex"].replace({"male":0,"female":1})

C:\Users\Admin\AppData\Local\Temp\ipykernel_11044\703506590.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df["Sex"]=df["Sex"].replace({"male":0,"female":1})

In [51]:
df

     Survived  Pclass  Sex   Age  SibSp  Parch     Fare Embarked
0           0       3    0  22.0      1      0   7.2500        S
1           1       1    1  38.0      1      0  71.2833        C
2           1       3    1  26.0      0      0   7.9250        S
3           1       1    1  35.0      1      0  53.1000        S
4           0       3    0  35.0      0      0   8.0500        S
..        ...     ...  ...   ...    ...    ...      ...      ...
886         0       2    0  27.0      0      0  13.0000        S
887         1       1    1  19.0      0      0  30.0000        S
888         0       3    1  28.0      1      2  23.4500        S
889         1       1    0  26.0      0      0  30.0000        C
890         0       3    0  32.0      0      0   7.7500        Q

[891 rows x 8 columns]

In [52]:
df.isnull().any()

Survived    False
Pclass      False
Sex         False
Age         False
SibSp       False
Parch       False
Fare        False
Embarked    False
dtype: bool

In [61]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Sex       891 non-null    int64
 3   Age       891 non-null    float64
 4   SibSp     891 non-null    int64
 5   Parch     891 non-null    int64
 6   Fare      891 non-null    float64
 7   Embarked  891 non-null    object
dtypes: float64(2), int64(5), object(1)
memory usage: 55.8+ KB

In [62]:
df.drop("Embarked",axis=1,inplace=True)

In [63]:
x=df.drop("Survived",axis=1)
y=df[["Survived"]]

In [64]:
from sklearn.model_selection import train_test_split

In [65]:
x_train,x_test,y_train,y_test=train_test_split(x,y,train_size=0.8,random_state=42)

In [66]:
from sklearn.linear_model import LogisticRegression

In [67]:
model=LogisticRegression()

In [68]:
model.fit(x_train,y_train)

C:\Users\Admin\AppData\Local\Programs\Python\Python313\Lib\site-packages\sklearn\utils\validation.py:1406: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression()

In [69]:
model.score(x_train,y_train)

0.8019662921348315

In [71]:
model.score(x_test,y_test)

0.8100558659217877

In [73]:
yp=model.predict(x_test)

In [74]:
from sklearn.metrics import accuracy_score,confusion_matrix,precision_score,recall_score,f1_score

In [75]:
accuracy_score(y_test,yp)

0.8100558659217877

In [76]:
confusion_matrix(y_test,yp)

array([[92, 13],
       [21, 53]])

In [77]:
precision_score(y_test,yp)

0.803030303030303

In [78]:
recall_score(y_test,yp)

0.7162162162162162

In [79]:
f1_score(y_test,yp)

0.7571428571428571

In [80]:
y_prob=model.predict_proba(x_test)

In [81]:
y_prob

array([[0.9188624 , 0.0811376 ],
       [0.7628726 , 0.2371274 ],
       [0.85315502, 0.14684498],
       [0.10152832, 0.89847168],
       [0.32402922, 0.67597078],
       [0.05940232, 0.94059768],
       [0.35462074, 0.64537926],
       [0.90297174, 0.09702826],
       [0.27364908, 0.72635092],
       [0.07233138, 0.92766862],
       [0.64531241, 0.35468759],
       [0.92511257, 0.07488743],
       [0.60177369, 0.39822631],
       [0.8885946 , 0.1114054 ],
       [0.78870848, 0.21129152],
       [0.05646504, 0.94353496],
       [0.68083685, 0.31916315],
       [0.35455851, 0.64544149],
       [0.73771191, 0.26228809],
       [0.64588789, 0.35411211],
       [0.86823738, 0.13176262],
       [0.56943707, 0.43056293],
       [0.36205976, 0.63794024],
       [0.85259489, 0.14740511],
       [0.87959336, 0.12040664],
       [0.92918043, 0.07081957],
       [0.61401794, 0.38598206],
       [0.76131619, 0.23868381],
       [0.9157125 , 0.0842875 ],
       [0.37641386, 0.62358614],
       [0.84918386, 0.15081614],
       [0.31270831, 0.68729169],
       [0.51914572, 0.48085428],
       [0.35477793, 0.64522207],
       [0.84504236, 0.15495764],
       [0.90662051, 0.09337949],
       [0.51502642, 0.48497358],
       [0.35462074, 0.64537926],
       [0.07783903, 0.92216097],
       [0.88197449, 0.11802551],
       [0.7806036 , 0.2193964 ],
       [0.91383537, 0.08616463],
       [0.88191936, 0.11808064],
       [0.88202659, 0.11797341],
       [0.50950945, 0.49049055],
       [0.90328932, 0.09671068],
       [0.84906839, 0.15093161],
       [0.86406242, 0.13593758],
       [0.86856928, 0.13143072],
       [0.7284885 , 0.2715115 ],
       [0.35321759, 0.64678241],
       [0.17453424, 0.82546576],
       [0.95837561, 0.04162439],
       [0.45053607, 0.54946393],
       [0.95989816, 0.04010184],
       [0.05918293, 0.94081707],
       [0.7685147 , 0.2314853 ],
       [0.07861182, 0.92138818],
       [0.20549228, 0.79450772],
       [0.29270533, 0.70729467],
       [0.85711459, 0.14288541],
       [0.12854862, 0.87145138],
       [0.21859518, 0.78140482],
       [0.5232338 , 0.4767662 ],
       [0.88202659, 0.11797341],
       [0.34878952, 0.65121048],
       [0.65422605, 0.34577395],
       [0.8852164 , 0.1147836 ],
       [0.8917333 , 0.1082667 ],
       [0.16427949, 0.83572051],
       [0.22942419, 0.77057581],
       [0.05941066, 0.94058934],
       [0.50402741, 0.49597259],
       [0.12706493, 0.87293507],
       [0.86461436, 0.13538564],
       [0.9277304 , 0.0722696 ],
       [0.3728137 , 0.6271863 ],
       [0.0733191 , 0.9266809 ],
       [0.22609486, 0.77390514],
       [0.50441901, 0.49558099],
       [0.94848263, 0.05151737],
       [0.18168718, 0.81831282],
       [0.1118473 , 0.8881527 ],
       [0.88203106, 0.11796894],
       [0.72256373, 0.27743627],
       [0.7964702 , 0.2035298 ],
       [0.08261157, 0.91738843],
       [0.07168351, 0.92831649],
       [0.62164134, 0.37835866],
       [0.88220513, 0.11779487],
       [0.83490026, 0.16509974],
       [0.55881062, 0.44118938],
       [0.75192088, 0.24807912],
       [0.88203403, 0.11796597],
       [0.88197449, 0.11802551],
       [0.88198936, 0.11801064],
       [0.72075747, 0.27924253],
       [0.92726247, 0.07273753],
       [0.21527886, 0.78472114],
       [0.87866118, 0.12133882],
       [0.7729312 , 0.2270688 ],
       [0.90326648, 0.09673352],
       [0.06246994, 0.93753006],
       [0.91122336, 0.08877664],
       [0.88986446, 0.11013554],
       [0.90318169, 0.09681831],
       [0.30663308, 0.69336692],
       [0.65641719, 0.34358281],
       [0.88781892, 0.11218108],
       [0.61134591, 0.38865409],
       [0.09184389, 0.90815611],
       [0.85540106, 0.14459894],
       [0.08175528, 0.91824472],
       [0.58500544, 0.41499456],
       [0.35904363, 0.64095637],
       [0.85232679, 0.14767321],
       [0.80461138, 0.19538862],
       [0.78878   , 0.21122   ],
       [0.20625223, 0.79374777],
       [0.65252573, 0.34747427],
       [0.84160076, 0.15839924],
       [0.07144518, 0.92855482],
       [0.21759816, 0.78240184],
       [0.60025808, 0.39974192],
       [0.87204144, 0.12795856],
       [0.57713045, 0.42286955],
       [0.13503922, 0.86496078],
       [0.44627534, 0.55372466],
       [0.4240757 , 0.5759243 ],
       [0.8569989 , 0.1430011 ],
       [0.35451922, 0.64548078],
       [0.9188624 , 0.0811376 ],
       [0.75216617, 0.24783383],
       [0.20778006, 0.79221994],
       [0.72367127, 0.27632873],
       [0.3285176 , 0.6714824 ],
       [0.05682487, 0.94317513],
       [0.88525129, 0.11474871],
       [0.92076208, 0.07923792],
       [0.34704885, 0.65295115],
       [0.85683753, 0.14316247],
       [0.31633306, 0.68366694],
       [0.74375158, 0.25624842],
       [0.83475768, 0.16524232],
       [0.57439151, 0.42560849],
       [0.2724383 , 0.7275617 ],
       [0.75555445, 0.24444555],
       [0.90629693, 0.09370307],
       [0.06812279, 0.93187721],
       [0.92290442, 0.07709558],
       [0.88168225, 0.11831775],
       [0.86839443, 0.13160557],
       [0.84515663, 0.15484337],
       [0.41596899, 0.58403101],
       [0.88191936, 0.11808064],
       [0.88227648, 0.11772352],
       [0.86346599, 0.13653401],
       [0.35459128, 0.64540872],
       [0.26458478, 0.73541522],
       [0.48534518, 0.51465482],
       [0.86669267, 0.13330733],
       [0.52269841, 0.47730159],
       [0.80400359, 0.19599641],
       [0.08356045, 0.91643955],
       [0.88177328, 0.11822672],
       [0.77868993, 0.22131007],
       [0.71440906, 0.28559094],
       [0.09188328, 0.90811672],
       [0.86087346, 0.13912654],
       [0.90328898, 0.09671102],
       [0.48311184, 0.51688816],
       [0.1667166 , 0.8332834 ],
       [0.58492208, 0.41507792],
       [0.31408107, 0.68591893],
       [0.84130384, 0.15869616],
       [0.88221405, 0.11778595],
       [0.64022307, 0.35977693],
       [0.13211852, 0.86788148],
       [0.28022403, 0.71977597]])

## display Roc